@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

html,
body {
  overflow-x: hidden;
  overflow-y: hidden;
  margin: 0;
  font-family: "Poppins";
  font-weight: 400 !important;
  padding: 0;
  box-sizing: border-box;
  background-color: #f5f6f7;
}

.selectInput {
  border-radius: 8px;
  padding: 5px;
  background-color: #f5f6f7;
  text-align: center;
  height: 53px;
  margin-top: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #cbd5e1 transparent;
}

*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #cbd5e1;
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #94a3b8;
}

*::-webkit-scrollbar-thumb:active {
  background-color: #64748b;
}